<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      
      <nav class="main-nav">
        <a href="{{ '/' | relative_url }}" class="btn">Home</a>
        <a href="{{ '/transmitter' | relative_url }}" class="btn">Transmitter</a>
        <a href="{{ '/cipher' | relative_url }}" class="btn">Cipher</a>
        <a href="{{ '/manual_tones' | relative_url }}" class="btn">Manual Tones</a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
        
      {% if site.show_downloads or site.github.repository_url %}
      <p>
        {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" class="btn">Download .zip file</a>
          <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz file</a>
        {% endif %}
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      </p>
      {% endif %}

      {{ content }}

      <footer class="site-footer">
        {% if site.github.private != true and site.github.license %}
        <span class="site-footer-credits">This site is open source. {% github_edit_link "Improve this page" %}.</span>
        {% endif %}
        <span class="site-footer-owner">{{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      </footer>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script src="{{ '/assets/js/sprach.js' | relative_url }}"></script>
  </body>
</html>
