<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a> |
        <a href="{{ '/transmitter.html' | relative_url }}">Transmitter</a> |
        <a href="{{ '/cipher.html' | relative_url }}">Cipher</a> |
        <a href="{{ '/manual_tones.html' | relative_url }}">Manual Tones</a>
      </nav>
        
      {% if site.show_downloads or site.github.repository_url %}
      <p>
        {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" class="btn">Download .zip file</a>
          <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz file</a>
        {% endif %}
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      </p>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script src="{{ '/assets/js/sprach.js' | relative_url }}"></script>
  </body>
</html>
